<div class="container-fluid animate__animated animate__slideInUp">
    <div class="image">
        <div class="centered">
        <h2>{{selectedItemData.title}}</h2>
        <hr>
          <img id="foto" class="img-fluid rounded" src="{{selectedItemData.photo}}" />

          <div class="">
            <div id="puntuacion" class="text-left">
                <button (click)="star1()" id="button-addon1" type="submit" class="btn btn-link text-primary"><fa-icon class="rating" [icon]="faStar"></fa-icon></button>
                <button (click)="star2()" id="button-addon2" type="submit" class="btn btn-link text-primary"><fa-icon class="rating" [icon]="faStar"></fa-icon></button>
                <button (click)="star3()" id="button-addon3" type="submit" class="btn btn-link text-primary"><fa-icon class="rating" [icon]="faStar"></fa-icon></button>
                <button (click)="star4()" id="button-addon4" type="submit" class="btn btn-link text-primary"><fa-icon class="rating" [icon]="faStar"></fa-icon></button>
                <button (click)="star5()" id="button-addon5" type="submit" class="btn btn-link text-primary"><fa-icon class="rating" [icon]="faStar"></fa-icon></button>
            </div>

            <div id="icons" class="ml-0">
                <div class="row ml-1">
                  <div><fa-icon class="mx-2" [icon]="faClock"></fa-icon><span class="mc">{{selectedItemData.time}} min</span></div>
                  <div class="mr-3"><fa-icon class="mx-2" [icon]="faCalendarAlt"></fa-icon><span class="mc">{{selectedItemData.date}}</span></div>
                  <button (click)="getDataFromSelectedItem()" class="btn btn-primary mb-3">
                    Ver Autor
                  </button>
                </div>
            </div>
          </div>


        </div>
    </div>
    <div class="text">
        <p>{{selectedItemData.text}}</p>
    </div>
</div>
