
.image{
    margin-top: 2%;
}
img{
    max-height: 90vh;
    width: auto;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.1);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.1);
    min-width: 220px;
}
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.text{
    font-size: 20px;
    min-height: 150px;
    margin-top: 2.2%;
    padding-left: 10%;
    padding-right: 10%;
}

.footer{
    margin-left: 9%;
}
#icons{
    padding-right: 20%;
    margin-left: 20%;
}

.animate__animated.animate__slideInUp {
    --animate-duration: 2s;
}

#puntuacion{
  min-width: max-content;
}

.rating{
  color:#FFC100
}

.rating:hover{
  color: #FFE400;
}
