<div class="panel m-auto">
  <div class="row">
    <div class="dropdown mx-auto">
      <button (click)="setTypeUsers()" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Administrar Usuarios
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a (click)="setTypeOfAction('crear')" class="dropdown-item">Crear Usuarios</a>
        <a (click)="setTypeOfAction('editar')" class="dropdown-item">Editar Usuarios</a>
        <a (click)="setTypeOfAction('borrar')" class="dropdown-item">Borrar Usuarios</a>
      </div>
    </div>
    <div class="dropdown mx-auto">
      <button (click)="setTypePosts_approved()" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Administrar Posts
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a (click)="setTypeOfAction('crear')" class="dropdown-item">Crear Posts</a>
        <a (click)="setTypeOfAction('editar')" class="dropdown-item">Editar posts</a>
        <a (click)="setTypeOfAction('borrar')" class="dropdown-item">Borrar Posts</a>
        <a (click)="setTypeOfAction('revisar'); setTypePosts_unapproved()" class="dropdown-item">Revisar Posts</a>
      </div>
    </div>
  </div>

</div>
<div class="scroll container-fluid">
  <div *ngIf="array_lista">
    <div *ngFor="let lista of array_lista">
      <div class="row">
        <span class="align-center my-auto">
          <strong *ngIf="type == 'users'">{{ lista.usename }}</strong>
          <strong *ngIf="type == 'posts_approved'">{{ lista.title }}</strong>
          <strong *ngIf="type == 'posts_unapproved'">{{ lista.title }}</strong>
          </span
        >
        <button *ngIf="type =='users'" (click)="getDataFromSelectedItem(lista.usename)" class="btn btn-primary mr-0 my-1">
          Seleccionar
        </button>
        <button *ngIf="type =='posts_approved'" (click)="getDataFromSelectedItem(lista.title)" class="btn btn-primary mr-0 my-1">
          Seleccionar
        </button>
        <button *ngIf="type =='posts_unapproved'" (click)="getDataFromSelectedItem(lista.title)" class="btn btn-primary mr-0 my-1">
          Seleccionar
        </button>
      </div>
    </div>
  </div>

</div>


