img{
  max-height: 150px;
  min-height: 100px;
}

#fotodiv{
  min-height: 150px;
}

#body{
  min-height: 150px;
}

span{
  margin-right: 15px;
}
a{
  margin-left: 5px;
  margin-right: 5px;
}

.card{
  -webkit-box-shadow: 0 10px 10px 0 rgba(0,0,0,0.3);
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.3);
}

.card-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0px;
}

@media (max-width: 575.98px) {
  .card{
    text-align: center;
  }
  #body{
    height: 100px;
  }
 }

 @media (min-width: 576px) and (max-width: 767.98px) {
   #body{
     height: 100px;
   }
  }


.a{
  min-height: 300px;
  text-align: center;
}
.alert{
  margin-top: 10%;
  width: 80%;
}
