
<div class="container py-3" *ngIf="r == ''; else elseBlock">
  <!--profile display-->
  <div *ngIf="template == 'profile'" class="row">
    <div class="card col-xl-6 col-lg-12 mx-auto my-1" *ngFor="let user of array_users">
      <div class="row">
        <div class="col-md-6 text-center">
          <img
            src="{{user.photo}}"
            class="img-thumbnail img-fluid"
          />
        </div>
        <div id="body" class="col-md-6">
          <div class="card-block text-center py-auto">
            <h4 class="card-title">{{ user.title }}</h4>
            <button (click)="getDataFromSelectedItem( user.title)" class="btn btn-primary m-auto">
              Ver Post
            </button>
          </div>
        </div>
        <div class="card-footer w-100">
          <div class="bottom_container"><a href="/cards"><fa-icon [icon]="faClock"></fa-icon></a><span>{{user.time}} min</span></div>
          <div class="bottom_container"><a href="/cards"><fa-icon [icon]="faStar"></fa-icon></a><span>{{user.likes}}/5</span></div>
          <div class="bottom_container"><a href="/cards"><fa-icon [icon]="facalendarAlt"></fa-icon></a><span>{{user.date}}</span></div>

        </div>
      </div>
    </div>
  </div>
<!--home display-->
  <div *ngIf="template == 'home'" class="row">
    <div class="card col-md-4 mx-auto my-1" *ngFor="let user of array_users">
      <div class="row">
        <div id="fotodiv" class="col-lg-6 text-center">
          <img
            src="{{user.photo}}"
            class="img-thumbnail img-fluid"
          />
        </div>
        <div id="body" class="col-lg-6">
          <div class="card-block text-center">
            <h4 class="card-title text-center">{{ user.title }}</h4>
            <button (click)="getDataFromSelectedItem(user.title)" class="btn btn-primary m-auto ">
              Ver Post
            </button>
          </div>
        </div>
        <div class="card-footer w-100">
          <div class="bottom_container"><fa-icon [icon]="faClock"></fa-icon><span>{{user.time}} min</span></div>
          <div class="bottom_container"><fa-icon [icon]="faStar"></fa-icon><span>{{user.likes}}/5</span></div>
          <div class="bottom_container"><fa-icon [icon]="facalendarAlt"></fa-icon><span>{{user.date}}</span></div>

        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #elseBlock>

  <div class="a">
    <div class="alert alert-warning animate__animated animate__fadeInDown col-md-8 offset-md-2" role="alert">
      No se han encontrado posts
    </div>
  </div>


</ng-template>

