<div class="container-fluid">
    <div class="row">
      <div id="h" class="col-md-5 border p-5">
        <app-menu-admin-nav (evento_select)='setType($event)'></app-menu-admin-nav>
      </div>
      <div class="col-md-7 border p-5">
        <app-registro isadmin='true' *ngIf="type == 'users'"></app-registro><!--Meter en el ngif si es user o post-->
        <app-menu-admin-postedit isadmin='true' *ngIf="type == 'posts_approved'"></app-menu-admin-postedit><!--Meter en el ngif si es user o post-->
        <app-menu-admin-postedit isadmin='true' *ngIf="type == 'posts_unapproved'"></app-menu-admin-postedit><!--Meter en el ngif si es user o post-->
      </div>
    </div>
</div>

