<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img
        class="justify-content-center col-9"
        src="../assets/IMG_2862.JPG"
        alt="foto"
      />
    </div>

    <div id="h" class="col-md-6 border p-5">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="submitForm()"
        action="POST"
        class="border rounded m-5 form-group"
      >
        <h1 class="text-center m-5">Inicia sesión si ya tienes una cuenta!</h1>
        <div class="">
          <input
            formControlName="username"
            type="text"
            placeholder="Nombre Usuario"
            name="username"
            class="form-control form-group col-6"
          />
          <div
            class="error col-6 mx-auto  alert alert-warning"
            *ngIf="
              !loginForm.controls['username'].valid &&
              loginForm.controls['username'].touched
            "
          >
            Username is required
          </div>

          <input
            formControlName="password"
            type="password"
            placeholder="Contraseña"
            name="password"
            class="form-control form-group col-6"
          />
          <div
            class="error col-6 mx-auto  alert alert-warning"
            *ngIf="
              !loginForm.controls['password'].valid &&
              loginForm.controls['password'].touched
            "
          >
            Password is required
          </div>
          <br />
          <button
            [disabled]="loginForm.invalid"
            type="submit"
            class="btn btn-primary form-group"
          >
            Iniciar sesión
          </button>
        </div>

        <div class="border m-5 p-5 text-center" id="footer">
          <p>¿Todavía no tienes una cuenta?</p>
          <a routerLink="/register"> Regístrate aquí </a>
        </div>
      </form>
    </div>
  </div>
</div>