<div class="container-fluid">
  <form
    [formGroup]="signupForm"
    class="border rounded form-group col-12 mx-auto"
    (ngSubmit)="submitForm()"
  >
    <h1 *ngIf="action == 'crear'" class="text-center m-5">Crear Post</h1>
    <h1 *ngIf="action == 'editar'" class="text-center m-5">Editar Post</h1>
    <h1 *ngIf="action == 'borrar'" class="text-center m-5">Eliminar Post</h1>
    <h1 *ngIf="action == 'revisar'" class="text-center m-5">Revisar Post</h1>
    <h1 *ngIf="action == ''" class="text-center m-5">Crear Post</h1>
    <input
      formControlName="titulo"
      class="form-control form-group col-8"
      type="text"
      name="titulo"
      placeholder="Titulo"
    />
    <div id="file">
      Sube una foto
     <input
       type="file"
       class="form-control"
       name="image"
       placeholder="Enter
 image"
       #fileinput
       (change)="changeImage(fileinput)"
     />
   </div>
    <div>
      <textarea
        formControlName="texto"
        class="form-control col-8 mx-auto"
        id="exampleFormControlTextarea1"
        rows="5"
        placeholder="Info sobre la foto..."
      ></textarea>
    </div>
    <!--aqui va el input de los tags que murió en la batalla
    <input
      formControlName="tags"
      type="text"
      placeholder="tags separados por coma"
      name="tags"
      class="form-control form-group col-8 mx-auto mb-0"
    />-->
    <chips-input-example></chips-input-example>
    <!--fin tags-->
    <input
      formControlName="tiempo"
      type="number"
      placeholder="Timpo leer (mins)"
      name="tiempo"
      class="form-control form-group col-8 mx-auto mb-0"
    />
    <br />
    <br />
    <button *ngIf="action != 'revisar'"
      type="submit"
      class="btn btn-primary form-group mx-auto mb-4 mt-0 col-4"
    >
      Aceptar
    </button>
    <div class="row">
      <button (click)="setApprove_Delete('approve')" *ngIf="action == 'revisar'" class="btn btn-success mx-auto">
        Aprobar
      </button>
      <button (click)="setApprove_Delete('delete')" *ngIf="action == 'revisar'" class="btn btn-danger mx-auto">
        Denegar
      </button>
    </div>


  </form>
</div>
