.circular--landscape {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
  
.circular--landscape img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}

#user{
    text-align: center;
}
#user h3{
    color: rgb(110, 118, 125);
}

#text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 14; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.animate__pulse{
    --animate-duration: 2s;
}