<div class="container-fluid">
  <div class="row">
      <div id="user" class="col-md-5 border p-5"  *ngFor="let user of array_lista">
          <div class="circular--landscape animate_animated animate_pulse">
              <img src="{{user.photo}}" />
          </div>
          <div class= "info">
              <h1 class="animate_animated animate_pulse">{{user.name}}</h1>
              <h3 class="animate_animated animate_pulse">@{{user.usename}}</h3>

              <p id="text">{{user.bio}}</p>
          </div>
      </div>
      <div class="col-md-7 border p-5">
          <div class="scroll container-fluid">

              <div id="posts" class="column">
                  <app-cards-inicio-display petition="id_posts" template= "profile"></app-cards-inicio-display>
              </div>
          </div>
      </div>
  </div>
</div>
