<div class="container-fluid px-0">
  <div class="image">
    <div class="centered">
      <div class="text animate__animated animate__backInLeft">
        <h1 *ngIf="usename == undefined ">Este es nuestro Proyecto-Intermodular</h1>
        <h1 *ngIf="usename != '' ">Bienvenido {{usename}}</h1>
      </div>
    </div>
    <img id="foto" class="img-fluid" src="assets/home_arriba.jpg" />
  </div>

  <div>
    <h3 class="text-primary">Top likes</h3>
    <app-cards-inicio-display petition="top_posts" template ="home"></app-cards-inicio-display>
  </div>
  <div>
    <h3 class="text-primary">Recent posts</h3>
    <app-cards-inicio-display petition="date_posts" template ="home"></app-cards-inicio-display>
  </div>
  <div class="row mx-0">
    <img
      class="img-fluid col-md-7 col-sm-12"
      src="https://web.gurushots.com/assets/images/pages/hp/exhibited.jpg"
    />
    <div class="col-md-5 col-sm-12 py-4 px-5">
      <div class= "scroll-animations">
        <div class="animate__animated">
          <h2>Sube tus posts y enséñale al mundo tus experiencias!</h2>
          <p>
            Miles de usuarios cada dia buscan hisotorias, fotos y vivencias en
            nuestra página, ¿por qué no te sumas a ellos?
            <br />Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <br />Nullam non arcu vitae ex vestibulum accumsan. Maecenas vestibulum
            ac ipsum nec posuere. <br />¿Aún no estás registrado? No esperes más:
          </p>
          <div class="text-center">
            <button
              routerLink="/login"
              class="btn btn-primary justify-content-center"
            >
              Regístrate aquí
            </button>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>
