p{
  font-size: 20px;
}

h3{
  text-align: center;
}

#foto{
  margin-bottom: 20px;
}

img{
  max-height: 90vh;
  width: 100%;
}

.image {
  position: relative;
  text-align: center;
  color: white;
}

.text{
  width: 100%;
  height: 100%;

  margin-top: 20px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}

