<nav class="navbar navbar-expand-lg navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="#">Lagri+</a>

    <button id="fff" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" onclick ="perfil_show()">
        <img src="https://img.icons8.com/fluent/48/000000/menu--v2.png"/>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home"><i class="fas fa-tachometer-alt"></i>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/gallery"><i class="far fa-address-book"></i>Gallery</a>
            </li>
            <li *ngIf="user == null" class="nav-item">
                <a class="nav-link" routerLink="/login"><i class="far fa-clone"></i>Login</a>
            </li>
        </ul>
        <div class="bus">
            <div class="w-75">
                <input id="exampleFormControlInput1" type="email" placeholder="Buscador" class="form-control form-control-underlined" #myInput (keydown.enter)="buscar(myInput.value)">
            </div>
        </div>

    </div>


    <div id="profile">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
                </a>
                <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{{img}}" width="40" height="40" class="rounded-circle">
                </a> -->
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
                    <a class="dropdown-item"  (click)= "open(mymodal)" routerLink="/post"><img src="https://img.icons8.com/wired/64/000000/add-image.png"/>New Post</a>
                    <a class="dropdown-item"  (click)= "open(mymodal)" routerLink="/settings"><img src="https://img.icons8.com/pastel-glyph/64/000000/edit--v1.png"/>Edit Profile</a>
                    <a class="dropdown-item"  (click)= "open(mymodal)" routerLink="/profile/{{user}}"><img src="https://img.icons8.com/pastel-glyph/64/000000/edit--v1.png"/>My Profile</a>
                    <a class="dropdown-item"  *ngIf="admin == 1"  routerLink="/admin"><img src="https://img.icons8.com/pastel-glyph/64/000000/edit--v1.png"/>Admin</a>
                    <div class="dropdown-divider"></div>
                    <a id="logout" (click)="logout()" class="dropdown-item"><img src="https://img.icons8.com/pastel-glyph/64/000000/exit--v2.png"/>Log Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<ng-template #mymodal>
    <!-- <div class="alert alert-danger animate__animated animate__fadeInDown col-md-8 offset-md-2" role="alert">
    Necesitas estar logeado perra
    </div> -->
    <div class="mensaje">
        <img
            class="float-left col-md-7 col-sm-12"
            src="../assets/mono.jpg"
        />
        <p>Necesitas Iniciar Sesion para utilizar esta funcionalidad</p>
    </div>
</ng-template>
