<mat-form-field class="example-chip-list">
  <mat-label>Tags (presiona enter o ',' para añadir más de 1)</mat-label>
  <mat-chip-list #chipList aria-label="Tag selection">

    <input placeholder="New tag..."
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)">

  </mat-chip-list>
  <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
             [removable]="removable" (removed)="remove(tag)">
      {{tag.name}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>

    </mat-chip>
</mat-form-field>
