/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import '~animate.css/animate.min.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}
