<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 p-5">
      <img
        class="align-middle col-md-11 h-75"
        src="../assets/monoflip.jpg"
        alt="foto"
      />
    </div>
    <app-registro class="col-md-6 p-5" isadmin="false"></app-registro>
  </div>
