form > *{
  margin: 6% auto;
  display: block;
}

.error {
  animation: 2s errorAnim forwards;
  padding: 2px;
  margin-top: 1px !important;
}

form {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
  margin-left: 15%;
  margin-top: 7px !important;
}


input[type=button], input[type=submit], input[type=reset], input[type=password]  {
  /* background-color: #56baed; */
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  /* -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4); */
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, input[type=password]:hover  {
  background-color: #39ace7;
} */

input[type=button]:active, input[type=submit]:active, input[type=reset]:active, input[type=password]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text], input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder, input[type=password]:placeholder {
  color: #cccccc;
}

img {
  margin-top: 30px;
  margin-left: 30px !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 768px) {
  #h {
    padding: 0 !important;
    margin: 0 !important;
  }

  img {
    display: none;
  }
}

@keyframes errorAnim{
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}


#file {
  margin-bottom: 0px !important;
  margin-top: 20px !important;
  /* Our input type file element is going to be absolute positioned so the div element should be relatively positioned to act as container for it. */
  position: relative;
  width: 50%;
  height: 40px;
  /* Aligning the div at the center of the webpage horizontally and providing some space from top of webpage */
  margin: 80px auto;
  /* Making the div better looking */
  padding: 10px 12px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  background-color: #3f74a3;
  /* Converting pointed corners of div to slightly rounded */
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  /* Adding some shadow and bottom border for 3D effect */
  border-bottom: 4px solid #3f74a3;
  box-shadow: 0px 7px 15px #6ca3f5cb;
  -webkit-box-shadow: 0px 7px 15px #6ca3f5cb;
  -moz-box-shadow: 0px 7px 15px #6ca3f5cb;
  -o-box-shadow: 0px 7px 15px #6ca3f5cb;
  -ms-box-shadow: 0px 7px 15px #6ca3f5cb;
  /* Hide that part of input type file element that is overflowed out of container div */
  overflow: hidden;
}

input[type="file"] {
  /* Apply absolute positioning and move to top-left corner of parent div element */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  /* Making the file input element to cover the whole div element */
  right: 0px;
  bottom: 0px;
  width: 100%;
  /* Hiding the tap color when it is clicked on touch devices ( this is not widely supported ) */
  -webkit-tap-highlight-color: transparent;
  /* Make it invisible ( it is present at it's position but just invisible ) */
  opacity: 0;
  /* Move it to the upper layer above the container div's layer to ensure that it is always clickable */
  z-index: 1;
}

#file:active {
  /* Make clicking 3D */
  /* Move down 2px when clicked ( original top margin is 80px and here it is 2px more )*/
  margin-top: 82px;
  /* Reduce bottom border width by 2px to create the effect as if the div was pressed down */
  border-bottom-width: 2px;
  /* Decreasing the y-axis shadow by 2px & blur radius by 2px and darkning the shadow color to enhance the 3D effect */
  /* y-axis shadow is decreased because as div will be clicked it's bottom border is reduced by 2px i.e it's height will be decreased so in turn shadow height should decrease and it should become more darker */
  box-shadow: 0px 5px 13px #5192f3;
  -webkit-box-shadow: 0px 5px 13px #5192f3;
  -moz-box-shadow: 0px 5px 13px #5192f3;
  -o-box-shadow: 0px 5px 13px #5192f3;
  -ms-box-shadow: 0px 5px 13px #5192f3;
}
