

    <div id="h" class="col-md-12 p-3">
      <form
        [formGroup]="signupForm"
        (ngSubmit)="submitForm()"
        class="border rounded m-5 form-group"
      >
        <h1 *ngIf="action == 'crear'" class="text-center m-5">Registro</h1>
        <h1 *ngIf="action == 'editar' && edit == ''" class="text-center m-5">Edita el usuario seleccionado</h1>
        <h1 *ngIf="action == 'borrar'" class="text-center m-5">Borrar el usuario seleccionado</h1>
        <h1 *ngIf="action == ''" class="text-center m-5">Registro</h1>
        <h1 *ngIf="edit == 'true'" class="text-center m-5">Edita tu usuario</h1>

        <input
          formControlName="username"
          class="form-control form-group col-7"
          type="text"
          name="username"
          placeholder="Nombre Usuario*"
        />
        <div
          class="error col-7 mx-auto alert alert-warning"
          *ngIf="
            !signupForm.controls['username'].valid &&
            signupForm.controls['username'].touched
          "
        >
          Username is required
        </div>

        <input
          formControlName="name"
          type="text"
          placeholder="Nombre"
          name="name"
          class="form-control form-group col-7"
        />

        <div id="file">
           Sube una foto
          <input
            type="file"
            class="form-control"
            name="image"
            placeholder="Enter
      image"
            #fileinput
            (change)="changeImage(fileinput)"
          />
        </div>

        <div>
          <textarea
            formControlName="texto"
            class="form-control col-8 mx-auto"
            id="exampleFormControlTextarea1"
            rows="5"
            placeholder="Info sobre ti..."
          ></textarea>
        </div>

        <input
          formControlName="email"
          type="email"
          placeholder="Correo Electrónico*"
          name="email"
          class="form-control form-group col-7"
          [(ngModel)]="inputEmail"
        />
        <div
          class="error col-7 mx-auto alert alert-warning"
          *ngIf="
            !signupForm.controls['email'].valid &&
            signupForm.controls['email'].touched
          "
        >
          "{{ inputEmail }}" is not a valid email
        </div>

        <input
          formControlName="password"
          type="password"
          placeholder="Contraseña*"
          name="password"
          class="form-control form-group col-7"
        />
        <div
          class="error col-7 mx-auto alert alert-warning"
          *ngIf="
            !signupForm.controls['password'].valid &&
            signupForm.controls['password'].touched
          "
        >
          Password is required
        </div>
        <input
          formControlName="password2"
          type="password"
          placeholder="Repetir contraseña*"
          name="password2"
          class="form-control form-group col-7"
        />
        <div
          class="error col-7 mx-auto alert alert-warning"
          *ngIf="
            !signupForm.controls['password'].valid &&
            signupForm.controls['password'].touched
          "
        >
          Password is required
        </div>
        <br />
        <div
          *ngIf="passwordCheck"
          class="alert alert-warning alert-dismissible fade show"
          role="alert"
        >
          <strong>Holy guacamole!</strong> Las contraseñas no coinciden, revisa los campos
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="isadmin == 'true'">
          <h4>Admin:</h4>
          <label class="switch">
            <input type="checkbox"
              formControlName="admin"
              value="true"
              (change)="toggleEditable($event)"
            />
            <span class="slider round"></span>
          </label>
        </div>
        <br />
        <button
          [disabled]="signupForm.invalid"
          type="submit"
          class="btn btn-primary form-group"
        >
          <span *ngIf="action == 'crear'">Regístrame</span>
          <span *ngIf="action == 'editar'">Editar</span>
          <span *ngIf="action == 'borrar'">Eliminar</span>
          <span *ngIf="action == ''">Regístrame</span>
        </button>
      </form>
    </div>
